*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.apk
*.ap_
bin/
gen/
.gradle/
/*/build/
local.properties
proguard/
*.log
.classpath
.project
.settings/
*.ipr
*.iws
.idea/
